<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tiberiu</title>
</head>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js" type="text/javascript"></script>-->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link href="css/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="haha.png" />
<body>
<div class="navigation">
    <ol>
        <li id="hover1"><a class="navButton" href="home.html" >Home</a></li>
        <li id="hover3"><a class="navButton" href="getall.html">All Accounts</a></li>
    </ol>
</div>
<div ng-app="myApp" ng-controller="myCtrl" class="mainContent">

<h1><b>Write the details of the account you want to Update.</b><h1>
<p>{{msg}}</p>

<p>{{statusval}}</p>

<p>{{statustext}}</p>

<p>{{headers}}</p>


<div>



First Name : <input ng-model="updatefName" id="placeH1" placeholder=""/><br/><br/>

Second Name  : <input ng-model="updatelName" id="placeH2" placeholder=""/><br/><br/>

Account Number : <input ng-model="updateANumber" id="placeH3" placeholder=""/><br/><br/>

<input type="button" value="Update" ng-click="updatedata( 
updatefName, updatelName, updateANumber)" /> <br/><br/>

</div>
<script>

var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
		console.log("am ajuns1");
		console.log(localStorage.getItem("store_id"));
		document.getElementById("placeH1").placeholder = localStorage.getItem("store_fN");
		document.getElementById("placeH2").placeholder = localStorage.getItem("store_lN");
		document.getElementById("placeH3").placeholder = localStorage.getItem("store_aN");
$scope.firstName = null;

$scope.lastName = null;

$scope.accountNumber = null;

$scope.id = null;

$scope.updatefName=null;

$scope.updatelName=null;

$scope.updateANumber=null;

$scope.lblMsg = null;

$scope.updatedata = function ( updatefName, updatelName, 
updateANumber) {

var data = {

id: localStorage.getItem("store_id"),

firstName : updatefName,

lastName : updatelName,

accountNumber : updateANumber

};

//Call the services

$http.put('http://localhost:8080/homework/rest/account/json', 
JSON.stringify(data)).then(function (response) {

if (response.data)

$scope.msg = "Account Updated!";

}, function (response) {

$scope.msg = "Output Message : Service not Exists";

$scope.statusval = "StatusCode:" +   response.status;

$scope.statustext = "Status: "  + response.statusText;

$scope.headers = "Response Headers: " + response.headers();

});

};

    });
	
</script>

</body>
</html>

