<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tiberiu</title>
</head>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js" type="text/javascript"></script>-->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link href="css/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="haha.png" />
<body>
<div class="navigation">
    <ol>
        <li id="hover1"><a class="navButton" id="home" href="home.html" ><img src="haha.png" alt="icon" width="14" height="14" >Home</a></li>
        <li id="hover3"><a class="navButton" href="getall.html">All Accounts</a></li>
    </ol>
</div>
<div ng-app="myApp" ng-controller="myCtrl" ng-init="refresh()" class="mainContent">
	
	<h1><b>Create a new Account!</b><h1>
	


<div>

First Name : <input ng-model="firstName" /><br/><br/>

Second Name  : <input ng-model="lastName" /><br/><br/>

Account Number : <input ng-model="accountNumber" /><br/><br/>

<input type="button" value="Send" ng-click="postdata(firstName, lastName, accountNumber)" /> <br/><br/>

</div>

<p>{{msg}}</p>

<p>{{statusval}}</p>

<p>{{statustext}}</p>

<p>{{headers}}</p>


</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope, $http) {
	
$scope.firstName = null;

$scope.lastName = null;

$scope.accountNumber = null;


$scope.lblMsg = null;


$scope.postdata = function (firstName, lastName, accountNumber) {

var data = {

firstName: firstName,

lastName: lastName,

accountNumber: accountNumber

};

//Call the services

$http.post('http://localhost:8080/homework/rest/account/json', JSON.stringify(data)).then(function (response) {

if (response.data)

$scope.msg = "Account Added to the database!";

}, function (response) {

$scope.msg = "Output Message :  Service not Exists";

$scope.statusval = "StatusCode: " + response.status;

$scope.statustext = "Status: " + response.statusText;

$scope.headers = "Response Headers: " + response.headers();

});

};

    });
	
</script>

</body>
</html>